In [1]:
import csv
import requests
import pandas as pd
import io

In [2]:
API_KEY = "OG8JDKQOTOISF1RD"

In [9]:
ticker = "NVDA"
# 1min, 5min, 15min, 30min, 60min
interval = "1min"
lookback = "year1month1"
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY_EXTENDED&symbol={ticker}&interval={interval}&slice={lookback}&apikey={API_KEY}'
df = pd.read_csv(url)

In [10]:
df.to_csv(f"{ticker}_202210_11_min.csv")

In [11]:
df

                      time    open    high     low   close  volume
0      2022-11-18 20:00:00  179.21  179.35  179.20  179.30    4081
1      2022-11-18 19:59:00  179.30  179.35  179.21  179.21    4290
2      2022-11-18 19:58:00  179.20  179.30  179.13  179.30    7905
3      2022-11-18 19:57:00  179.15  179.20  179.13  179.20    5711
4      2022-11-18 19:56:00  179.13  179.15  179.13  179.15    1076
...                    ...     ...     ...     ...     ...     ...
18633  2022-10-21 04:05:00  207.13  208.60  207.11  208.59   15690
18634  2022-10-21 04:04:00  205.99  207.50  205.95  207.10   28771
18635  2022-10-21 04:03:00  205.70  206.00  205.62  205.96    7792
18636  2022-10-21 04:02:00  206.00  206.00  205.19  205.70    6630
18637  2022-10-21 04:01:00  206.08  207.29  205.77  206.00   16236

[18638 rows x 6 columns]