In [1]:
# !pip3 install tweepy
# !pip3 install tweepy --upgrade

In [1]:
import requests
import tweepy
import pandas as pd
import datetime
import time
import re

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
api_key = consumer_key = 'kvLahBWTFVq23IE2VpAEzSuOg'
api_key_secret = consumer_secret = '8EBwiateyBXXrWpIP4KsS61UcrOcY7HfWhhrkbia9DLA4hbzYK'

access_token = '1554097511576518659-6akGkfBNeytBpsIW9LnwI8HlwYyAP5'
access_token_secret = 'kFETnlfIOcuodMS0b9Pp9xqY5UAzl65bBfYBVUtRV129M'

bearer_token = 'AAAAAAAAAAAAAAAAAAAAAPw%2FfgEAAAAAdxi5Nwcx9w0opDs79FaF%2FEupq7c%3DD7vSm66PvPmDE4kja3k3AUZ3bwcxmkreq33euMCIfPsI4yqobK'

In [4]:
client = tweepy.Client( bearer_token=bearer_token, 
                        consumer_key=consumer_key, 
                        consumer_secret=consumer_secret, 
                        access_token=access_token, 
                        access_token_secret=access_token_secret, 
                        return_type = requests.Response,
                        wait_on_rate_limit=True)

In [5]:
def clean_tweet(tweet):
    '''
    input: string
    output: string. Removed whitespaces, hashtags, url
    '''
    return ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)", " ", tweet).split())

### Market cap
GME = $8bn

AMC = $4bn

SOFI = $4bn

BBY = $18bn

ZM = $23bn

META = $300bn

NVDA = $400bn

AMZN = $950bn

TSLA = $530bn

AAPL = $2.4tr

### Construct your query here

In [136]:
query = '(lang:en "#AMZN" has:hashtags)'

In [138]:
# Paginator, improved rate limit issues
# query = '((S&P lang:en) OR (SPY lang:en)) is:verified'
# drom 11/14 to 11/18
i = 0
for tweets in tweepy.Paginator(client.search_all_tweets,
                              query = query,
                              end_time = datetime.datetime(2022, 11, 19),
                              tweet_fields = ['author_id','created_at','public_metrics'],
                              user_fields = ['name','username','id','public_metrics'],
                              start_time = datetime.datetime(2022, 11, 14),
                              max_results = 500):
        
    time.sleep(1)
#     next_token = tweets.json()["meta"]["next_token"]
    if tweets.json()["meta"]["result_count"] != 0:
        tweets_dict = tweets.json()
        tweets_data = tweets_dict['data'] 

        if i==0:
            # Transform to pandas Dataframe
            df = pd.json_normalize(tweets_data)
        else:
            df2 = pd.json_normalize(tweets_data)
            df = pd.concat([df,df2], axis = 0)
#             df = df.append(df2)
            print(df.shape)
        i+=1

df.text = df.text.apply(clean_tweet)
df.to_csv("hashtag/20221114_18_AMZN_hashtag.csv")

(995, 9)
(1493, 9)
(1990, 9)
(2490, 9)
(2988, 9)
(3487, 9)
(3985, 9)
(4484, 9)
(4983, 9)
(5480, 9)
(5980, 9)
(6477, 9)
(6976, 9)
(7476, 9)
(7975, 9)
(8474, 11)
(8970, 11)
(9468, 11)
(9968, 11)
(10468, 11)
(10967, 11)
(11467, 11)
(11967, 11)
(12467, 11)
(12967, 11)
(13466, 11)
(13965, 11)
(14463, 11)
(14963, 11)
(15463, 11)
(15962, 11)
(16455, 11)
(16935, 11)
(17433, 11)
(17930, 11)
(18429, 11)
(18926, 11)
(19423, 11)
(19922, 11)
(20422, 11)
(20920, 11)
(21420, 11)
(21919, 11)
(22404, 11)
(22900, 11)
(23399, 11)
(23898, 11)
(24396, 11)
(24891, 11)
(25388, 11)
(25887, 11)
(26387, 11)
(26886, 11)
(27381, 11)
(27876, 11)
(28374, 11)
(28874, 11)
(29372, 11)
(29871, 11)
(30365, 11)
(30865, 11)
(31364, 11)
(31864, 11)
(32363, 11)
(32861, 11)
(33361, 11)
(33861, 11)
(34361, 11)
(34860, 11)
(35360, 11)
(35859, 11)
(36358, 11)
(36855, 11)
(37354, 11)
(37851, 11)
(38351, 11)
(38849, 11)
(39346, 11)
(39839, 11)
(40337, 11)
(40830, 11)
(41326, 11)
(41816, 11)
(42315, 11)
(42811, 11)
(43309, 11)
(43808, 11)
(44307, 11)
(44806, 11)
(45305, 11)
(45805, 11)
(46304, 11)
(46804, 11)
(47304, 11)
(47804, 11)
(48302, 11)
(48802, 11)
(49301, 11)
(49801, 11)
(50301, 11)
(50799, 11)
(51299, 11)
(51799, 11)
(52299, 11)
(52799, 11)
(53299, 11)
(53798, 11)
(54297, 11)
(54797, 11)
(55297, 11)
(55797, 11)
(56296, 11)
(56795, 11)
(57295, 11)
(57795, 11)
(58294, 11)
(58793, 11)
(59292, 11)
(59792, 11)
(60292, 11)
(60791, 11)
(61290, 11)
(61785, 11)
(62284, 11)
(62781, 11)
(63277, 11)
(63775, 11)
(64274, 11)
(64771, 11)
(65271, 11)
(65769, 11)
(66267, 11)
(66765, 11)
(67264, 11)
(67758, 11)
(68256, 11)
(68753, 11)
(69251, 11)
(69749, 11)
(70249, 11)
(70749, 11)
(71248, 11)
(71748, 11)
(72245, 11)
(72744, 11)
(73243, 11)
(73743, 11)
(74241, 11)
(74740, 11)
(75239, 11)
(75739, 11)
(76237, 11)
(76734, 11)
(77233, 11)
(77733, 11)
(78233, 11)
(78730, 11)
(79228, 11)
(79724, 11)
(80222, 11)
(80722, 11)
(81221, 11)
(81719, 11)
(82218, 11)
(82717, 11)
(83215, 11)
(83714, 11)
(84211, 11)
(84709, 11)
(85208, 11)
(85708, 11)
(86208, 11)
(86707, 11)
(87205, 11)
(87705, 11)
(88205, 11)
(88705, 11)
(89205, 11)
(89705, 11)
(90205, 11)
(90704, 11)
(91204, 11)
(91703, 11)
(92203, 11)
(92702, 11)
(93200, 11)
(93700, 11)
(94200, 11)
(94699, 11)
(95198, 11)
(95696, 11)
(96196, 11)
(96695, 11)
(97195, 11)
(97694, 11)
(98193, 11)
(98673, 11)
(99158, 11)
(99639, 11)
(100131, 11)
(100614, 11)
(101104, 11)
(101592, 11)
(102070, 11)
(102544, 11)
(102893, 11)

In [139]:
df

,author_id,edit_history_tweet_ids,created_at,text,id,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,public_metrics.quote_count,withheld.copyright,withheld.country_codes
0,4815247037,[1593755894839660545],2022-11-18T23:59:50.000Z,career Guides for Raising the Algorithm and En...,1593755894839660545,0,0,0,0,NaN,NaN
1,1560463327683350528,[1593755856750927872],2022-11-18T23:59:41.000Z,RT DualSense controller is 49 99 on Amazon ad,1593755856750927872,126,0,0,0,NaN,NaN
2,846070511620673536,[1593755817131405312],2022-11-18T23:59:32.000Z,BLACK FRIDAY SALE Get 30 Off Trade Ideas Use c...,1593755817131405312,0,0,0,0,NaN,NaN
3,2155339694,[1593755786987053056],2022-11-18T23:59:24.000Z,A Little Bit of Fortune Cookie Wisdom and Page...,1593755786987053056,0,0,0,0,NaN,NaN
4,1494818649709834241,[1593755778359656449],2022-11-18T23:59:22.000Z,Amazon Basics Facial Tissue 18 Flat Boxes 160 ...,1593755778359656449,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
344,2188714462,[1591943999895400449],2022-11-14T00:00:01.000Z,Marvel s Spider Man Miles Morales Ultimate Edi...,1591943999895400449,1,0,3,0,NaN,NaN
345,621932990,[1591943999597596674],2022-11-14T00:00:01.000Z,How would Sara cope when everyone discovered t...,1591943999597596674,0,0,0,0,NaN,NaN
346,318774557,[1591943999405064193],2022-11-14T00:00:01.000Z,Visit Ed Benjamin at his Amazon page and websi...,1591943999405064193,0,0,0,0,NaN,NaN
347,2300238246,[1591943997060177923],2022-11-14T00:00:00.000Z,13 year old Skylar is a better sleuth than mos...,1591943997060177923,1,0,1,0,NaN,NaN
348,1328164399098433536,[1591943996389019648],2022-11-14T00:00:00.000Z,Powerbeats Pro Wireless Earbuds Apple H1 Headp...,1591943996389019648,1,0,1,0,NaN,NaN

In [36]:
# df.to_csv("TSLA_tweets_20221031.csv")
# df.to_csv("TSLA_tweets_20221027.csv")
# df.to_csv("TSLA_tweets_20221026.csv")

In [ ]:
df3.to_csv("TSLA_tweets_202209.csv")

### Appendix

In [1]:
# ######################################
# # This method will result in rate limit
# #####################################3#

# # Define query
# query = '((tesla lang:en) OR (tsla lang:en)) is:verified'
# next_token = None
# tweets = client.search_all_tweets(query = query, 
#                                 end_time = datetime.datetime(2022, 11, 1),\
#                                     tweet_fields = ['author_id',\
#                                                      'created_at',\
#                                                      'public_metrics'],\
#                                     user_fields = ['name',\
#                                                    'username',\
#                                                    'id',\
#                                                    'public_metrics'],\
#                                  start_time = datetime.datetime(2022, 10, 31),\
#                                      max_results = 500)
# next_token = tweets.json()["meta"]["next_token"]
# tweets_dict = tweets.json() 
# tweets_data = tweets_dict['data'] 

# # Transform to pandas Dataframe
# df = pd.json_normalize(tweets_data) 

# # while next_token:
# #     tweets2 = client.search_all_tweets(query = query, 
# #                                 end_time = datetime.datetime(2022, 11, 1),\
# #                                     tweet_fields = ['author_id',\
# #                                                      'created_at',\
# #                                                      'public_metrics'],\
# #                                     user_fields = ['name',\
# #                                                    'username',\
# #                                                    'id',\
# #                                                    'public_metrics'],\
# #                                  start_time = datetime.datetime(2022, 10, 30),\
# #                                      max_results = 500, next_token = next_token)
# #     next_token = tweets2.json()["meta"]["next_token"]
# #     tweets2_dict = tweets2.json() 
# #     tweets2_data = tweets2_dict['data'] 
# #     # Transform to pandas Dataframe
# #     df2 = pd.json_normalize(tweets2_data)
# #     df = df.append(df2)